<div class="board-container">
    <div class="board">
        <div class="top-row">
            <div class="arrow-down odd">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-down even">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-down odd">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-down even">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-down odd">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-down even">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
        </div>

        <div class="top-row">
            <div class="arrow-down odd">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-down even">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-down odd">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-down even">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-down odd">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-down even">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
        </div>

        <div class="bottom-row">
            <div class="arrow-up odd">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-up even">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-up odd">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-up even">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-up odd">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-up even">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
        </div>

        <div class="bottom-row">
            <div class="arrow-up odd">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-up even">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-up odd">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-up even">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-up odd">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
            <div class="arrow-up even">
                <ng-container #bar class="piece-container"></ng-container>
            </div>
        </div>

        <div class="middle-bar">
            <ng-container #bar class="piece-container"></ng-container>
        </div>
    </div>
</div>