.board-container {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.board {
    width: 610px;
    height: 480px;
    position: relative;
    background-image: url('src/assets/images/white-wood-background.jpg');
    background-size: cover;
    box-sizing: border-box;
    border: 10px solid black;
    border-radius: 10px 0 0 10px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.side-pockets {
    height: 480px;
    width: 61px;
    position: relative;
    background-image: url('src/assets/images/white-wood-background.jpg');
    background-size: cover;
    box-sizing: border-box;
    border-width: 10px 15px 10px 10px;
    border-style: solid;
    border-color: black;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
}

.pocket-marked {
    box-shadow: inset 0px 0px 10px 5px red;
}

.side-pockets-seperator {
    background-color: black;
    z-index: 1;
    height: 20px;
    width: 110%;
}

.side-pocket-container {
    height: 220px;
    width: 100%;
}

.top-row {
    display: flex;
    justify-content: center;
}

.bottom-row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.arrow-up, .arrow-down {
    width: 40px;
    height: 200px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 2px;
}

.arrow-down {
    transform: rotate(180deg);
}

.arrow-up.odd, .arrow-down.even {
    background-image: url('src/assets/images/triangle-blue.png');
}

.arrow-up.even, .arrow-down.odd {
    background-image: url('src/assets/images/triangle-green.png');
}

.arrow-marked {
    filter: drop-shadow(0 -8px 10px red);
}

.arrow-marked:hover, .pocket-marked:hover {
    opacity: 0.85;
    cursor: pointer;
}

.middle-bar {
    width: 20px;
    height: 450px;
    padding: 5px;
    background-color: black;
    position: absolute;
    left: 280px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.piece-container {
    width: 40px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.roll-container {
    position: absolute;
    left: 380px;
    top: 190px;
    height: 80px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dice-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}