<div class="chat-container">
    <div class="chat-box">
        <div class="chat-top-bar">
            <div>
                <fa-icon class="chat-icon chat-back" [icon]="backIcon" (click)="redirect()"></fa-icon>
            </div>
            <div class="chat-name">{{ chatService.chatUser }}</div>
            <div>
                <fa-icon class="chat-icon chat-options" [icon]="optionsIcon" (click)="showOptions()"></fa-icon>
            </div>
        </div>
        <div #chatScroller class="chat-middle">
            <app-message *ngFor="let message of chatService.messages" [message]="message"
                [isSentByUser]="chatService.isMessageSentByUser(message)">
            </app-message>
        </div>
        <div class="chat-bottom">
            <input type="text" [(ngModel)]="newMessage" placeholder="Type a message..." />
            <fa-icon class="send-button" [icon]="sendIcon" (click)="sendMessage()"></fa-icon>
        </div>
    </div>
</div>