<div class="wrapper">
    <div class="signup-container">
        <h1>Sign-Up</h1>
        <form>
            <div>
                <input type="text" placeholder="username:" [(ngModel)]="user.username" name="username" />
            </div>
            <div>
                <input type="password" placeholder="password:" [(ngModel)]="user.password" name="password" />
            </div>
            <div>
                <button class="signup-button" type="submit" (click)="signUp()">Sign Up!</button>
            </div>
        </form>
    </div>
</div>