.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signup-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--light);
    border-radius: 1.2em;
    padding: 1em;
    text-align: center;
}

.signup-container input[type="text"] {
    margin: 1em 0;
}

.signup-button { 
    margin: 1em 0
}